<% content_for :stylesheets do %>
<%= stylesheet_link_tag "datetimepicker/jquery.datetimepicker" %>
<% end %>

<% content_for :javascripts do %>

<%= javascript_include_tag "datetimepicker/jquery.datetimepicker" %>
<script>
  $(function() {
    var time_option = {
      timepicker:false,
      defaultDate:new Date(),
      maxDate: new Date(),
      minDate: '2014/01/19',
      format: 'Y-m-d',
      lang: 'zh-TW'
    };
    $('#q_found_time').datetimepicker(time_option);
  });
</script>
<% end %>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<h2>輸入您想尋找的物品</h2>
<%= simple_form_for @q, url: items_path, :method => :get do |f| %>
<%= content_tag("label","物品名稱",style: "font-size:16px") %>
<%= f.search_field :name_cont, class: "form-control" %>
<%= content_tag("label","遺失日期",style: "font-size:16px") %><%= content_tag("p","(尋找選擇之日期前後一個禮拜)",style: "font-size:12px") %>
<%= f.input_field :found_time, as: :date_time_picker %>
<%= f.button :button , '開始搜尋',class: "btn-success" %>
<% end %>
</div>
<div class="col-md-4"></div>

</div>